<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body class="bg-dark">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 col-11 text-center">
                <div class="border border-dark p-5 rounded bg-light">
                    <h2 class="mb-3"><u>Profile</u></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ut debitis maxime voluptatum! Quaerat nostrum eaque nulla neque ducimus saepe in! Nemo inventore consectetur molestias consequatur necessitatibus, odio corporis molestiae placeat. Assumenda aspernatur pariatur earum possimus enim dicta maxime doloremque, ab, iusto illum dolorem, porro ratione sunt aliquid distinctio. Architecto.
                    </p>
                    <form action="/logout" method="post">
                        <button class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>